body {
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2 {
    color: #ffffff;
    font-weight: bold;
}

ul {
    list-style-type: none;
    font-size: 24px;
    font-weight: normal;
}

li:hover,
.selected {
    cursor: pointer;
    font-weight: bold;
}

p {
    color: #ffffff;
    font-size: 24px;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.searchbox {
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
    margin-bottom: 20px;
}
input {
    width: 90%;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    border: 2px solid #c9b79c;
    font-size: 22px;
}
input:focus {
    outline: 0;
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    width: 42%;
}

.separator {
    border-left: 1px solid #c9b79c;
}

@media screen and (max-width:414px) {
    .main-container {
        flex-flow: column nowrap;
    }
}